.minput {
	height: 80px;
	padding-left: 40px;
	padding-right: 40px;

	border-radius: 100px;
	border: none;
	background-color: #fff;
}

.minput,
.minput::placeholder {
	color: #6d6364;
	font-family: 'Pelinka', sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
}

.minput:hover {
	outline: 2px solid #c9bcbd;
}

.minput:hover::placeholder {
	opacity: 0.7;
}

.minput:focus {
	outline: 2px solid #6d6364;
}

.minput:focus::placeholder {
	opacity: 0.5;
}
