@import './base.css';

@font-face {
	font-family: 'Pelinka';
	font-weight: 500;
	font-style: normal;
	font-display: auto;
	src:
		local('Roboto'),
		url('/fonts/pelinka/PelinkaBold.woff') format('woff'),
		url('/fonts/pelinka/PelinkaBold.woff2') format('woff2');
}
@font-face {
	font-family: 'Pelinka';
	font-weight: 600;
	font-style: normal;
	font-display: auto;
	src:
		local('Roboto'),
		url('/fonts/pelinka/PelinkaCondensedBold.woff') format('woff'),
		url('/fonts/pelinka/PelinkaCondensedBold.woff2') format('woff2');
}
@font-face {
	font-family: 'Pelinka';
	font-weight: 700;
	font-style: normal;
	font-display: auto;
	src:
		local('Roboto'),
		url('/fonts/pelinka/PelinkaExpandedBold.woff') format('woff'),
		url('/fonts/pelinka/PelinkaExpandedBold.woff2') format('woff2');
}
@font-face {
	font-family: 'Pelinka';
	font-weight: 400;
	font-style: normal;
	font-display: auto;
	src:
		local('Roboto'),
		url('/fonts/pelinka/PelinkaCondensedExtraLight.woff') format('woff'),
		url('/fonts/pelinka/PelinkaCondensedExtraLight.woff2') format('woff2');
}
@font-face {
	font-family: 'Pelinka';
	font-weight: 200;
	font-style: normal;
	font-display: auto;
	src:
		local('Roboto'),
		url('/fonts/pelinka/PelinkaExpandedExtraLight.woff') format('woff'),
		url('/fonts/pelinka/PelinkaExpandedExtraLight.woff2') format('woff2');
}
@font-face {
	font-family: 'Pelinka';
	font-weight: 300;
	font-style: normal;
	font-display: auto;
	src:
		local('Roboto'),
		url('/fonts/pelinka/PelinkaExtraLight.woff') format('woff'),
		url('/fonts/pelinka/PelinkaExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'BrisaSans';
	font-weight: 100;
	font-style: normal;
	font-display: auto;
	src:
		local('Roboto'),
		url('/fonts/brisa/BrisaSans-Thin.woff') format('woff');
}
@font-face {
	font-family: 'BrisaSans';
	font-weight: 300;
	font-style: normal;
	font-display: auto;
	src:
		local('Roboto'),
		url('/fonts/brisa/BrisaSans-Light.woff') format('woff');
}
@font-face {
	font-family: 'BrisaSans';
	font-weight: 400;
	font-style: normal;
	font-display: auto;
	src:
		local('Roboto'),
		url('/fonts/brisa/BrisaSans-Regular.woff') format('woff');
}
@font-face {
	font-family: 'BrisaSans';
	font-weight: 500;
	font-style: normal;
	font-display: auto;
	src:
		local('Roboto'),
		url('/fonts/brisa/BrisaSans-Medium.woff') format('woff');
}
@font-face {
	font-family: 'BrisaSans';
	font-weight: 700;
	font-style: normal;
	font-display: auto;
	src:
		local('Roboto'),
		url('/fonts/brisa/BrisaSans-Bold.woff') format('woff');
}

/* UA Brand */

@font-face {
	font-family: 'UABrand';
	font-weight: 400;
	font-style: normal;
	font-display: auto;
	src:
		local('Roboto'),
		url('/fonts/ua-brand/ua-BRAND-regular.woff2') format('woff2'),
		url('/fonts/ua-brand/ua-BRAND-regular.woff') format('woff');
}
@font-face {
	font-family: 'UABrand';
	font-weight: 700;
	font-style: normal;
	font-display: auto;
	src:
		local('Roboto'),
		url('/fonts/ua-brand/ua-BRAND-bold.woff2') format('woff2'),
		url('/fonts/ua-brand/ua-BRAND-bold.woff') format('woff');
}
@font-face {
	font-family: 'UABrand';
	font-weight: 800;
	font-style: normal;
	font-display: auto;
	src:
		local('Roboto'),
		url('/fonts/ua-brand/ua-BRAND-black.woff2') format('woff2'),
		url('/fonts/ua-brand/ua-BRAND-black.woff') format('woff');
}

#app {
	background-color: #f4eee8;
	/* font-family: 'Pelinka', sans-serif; */
}

body {
	/* font-family: 'Pelinka', sans-serif; */
	font-family: 'BrisaSans', sans-serif;
	overflow-x: hidden;
	/* font-weight: 400; */
}

svg {
	display: block;
}

* {
	font-style: normal;
	line-height: normal;
}

a,
button,
.green {
	cursor: pointer;
	text-decoration: none;
	transition: 0.4s;
}

h1,
h2,
h3,
h4,
h5 {
	color: #000;
	font-family: 'Pelinka', sans-serif;
	font-weight: 700;
	line-height: normal;
	font-style: normal;
}

@media (hover: hover) {
	a:hover {
		opacity: 0.7;
	}
	button:hover {
		opacity: 0.6;
	}
}

.heading-section {
	padding-bottom: 40px;
	font-size: 50px;
}

.text-section {
	color: #6d6364;
	font-size: 24px;
	padding-bottom: 60px;
}

@media screen and (max-width: 1000px) {
	.heading-section {
		padding-bottom: 20px;
		font-size: 20px;
	}

	.text-section {
		color: #6d6364;
		font-size: 17px;
		padding-bottom: 34px;
	}
}
