.h-xl {
	padding-bottom: 40px;
	font-size: 50px;
}

.h-xxxl {
	color: #000;
	font-family: 'Pelinka', sans-serif;
	font-size: 70px;
	font-weight: 700;
}

.h-xxl {
	color: #000;
	font-family: 'Pelinka', sans-serif;
	font-size: 60px;
	font-weight: 700;
}

.h-l {
	color: #000;
	font-family: 'Pelinka', sans-serif;
	font-size: 42px;
	font-weight: 700;
}

.h-md {
	color: #000;
	font-family: 'Pelinka', sans-serif;
	font-size: 34px;
	font-weight: 700;
}

.h-sm {
	color: #000;
	font-family: 'Pelinka', sans-serif;
	font-size: 30px;
	font-weight: 700;
}

.h-sm-ultra {
	color: #000;
	font-family: 'Pelinka', sans-serif;
	font-size: 24px;
	font-weight: 700;
}
.h-xs {
	color: #000;
	font-family: 'Pelinka', sans-serif;
	font-size: 20px;
	font-weight: 700;
}

.text-section {
	color: #6d6364;
	font-size: 24px;
	padding-bottom: 60px;
}

.text-lg {
	color: #6d6364;
	font-family: 'Pelinka', sans-serif;
	font-size: 24px;
	font-weight: 700;
}

.text-sm {
	font-family: 'BrisaSans', sans-serif;
	color: #6d6364;
	font-size: 22px;
	font-weight: 400;
}

.text-mini {
	font-family: 'BrisaSans', sans-serif;
	color: #6d6364;
	font-size: 16px;
	font-weight: 400;
}

@media (max-width: 1800px) {
	.h-xxl {
		font-size: 58px;
	}
	.h-xl {
		font-size: 48px;
	}
	.h-l {
		font-size: 42px;
	}
	.h-md {
		font-size: 30px;
	}
}

@media (max-width: 1600px) {
	.h-xxl {
		font-size: 54px;
	}
	.h-xl {
		font-size: 44px;
	}
	.h-l {
		font-size: 40px;
	}
	.h-md {
		font-size: 28px;
	}
	.text-lg {
		font-size: 22px;
	}
}

@media (max-width: 1500px) {
	.h-xxl {
		font-size: 46px;
	}
	.h-xl {
		font-size: 38px;
	}
	.h-l {
		font-size: 34px;
	}
	.h-md {
		font-size: 26px;
	}
	.h-sm {
		font-size: 25px;
	}
	.text-sm {
		font-size: 20px;
	}
}

@media (max-width: 1400px) {
	.h-xxl {
		font-size: 38px;
	}
	.h-xl {
		font-size: 32px;
	}
	.h-l {
		font-size: 26px;
	}
	.h-md {
		font-size: 24px;
	}
	.h-sm {
		font-size: 23px;
	}
	.h-sm-ultra {
		font-size: 22px;
	}
	.text-lg {
		font-size: 20px;
	}
	.text-sm {
		font-size: 18px;
	}
	.h-xs {
		font-size: 18px;
	}
}

@media (max-width: 1200px) {
	.h-xxl {
		font-size: 34px;
	}
	.h-xl {
		font-size: 26px;
	}
	.h-l {
		font-size: 24px;
	}
	.h-md {
		font-size: 22px;
	}
	.h-sm {
		font-size: 21px;
	}
}

@media (max-width: 1000px) {
	.h-xxl {
		font-size: 24px;
	}
	.h-xl {
		padding-bottom: 20px;
		font-size: 20px;
	}
	.h-l {
		font-size: 18px;
	}
	.h-md {
		font-size: 18px;
	}
	.h-sm {
		font-size: 17px;
	}
	.h-sm-ultra {
		font-size: 18px;
	}
	.text-lg {
		font-size: 16px;
	}
	.text-sm {
		font-size: 16px;
	}
	.text-section {
		color: #6d6364;
		font-size: 17px;
		padding-bottom: 34px;
	}
	.h-xs {
		font-size: 16px;
	}
	.text-mini {
		font-size: 14px;
	}
}

@media (max-width: 800px) {
	.h-xxl {
		font-size: 22px;
	}
	.text-lg {
		font-size: 14px;
	}
	.h-xs {
		font-size: 14px;
	}
}
