.h-xl {
	padding-bottom: 40px;
	font-size: 50px;
}

.h-xxl {
	color: #000;
	font-family: 'Pelinka';
	font-size: 60px;
	font-weight: 700;
}

.h-l {
	color: #000;
	font-family: 'Pelinka';
	font-size: 42px;
	font-weight: 700;
}

.h-md {
	color: #000;
	font-family: 'Pelinka';
	font-size: 34px;
	font-weight: 700;
}

.text-section {
	color: #6d6364;
	font-size: 24px;
	padding-bottom: 60px;
}

.text-lg {
	color: #6d6364;
	font-family: 'Pelinka';
	font-size: 24px;
	font-weight: 700;
}

.text-sm {
	color: #6d6364;
	font-family: 'BrisaSans';
	font-size: 22px;
	font-weight: 400;
}

@media (max-width: 1780px) {
	.h-xxl {
		font-size: 58px;
	}
	.h-xl {
		font-size: 48px;
	}
	.h-l {
		font-size: 42px;
	}
}

@media (max-width: 1640px) {
	.h-xxl {
		font-size: 54px;
	}
	.h-xl {
		font-size: 44px;
	}
	.h-l {
		font-size: 40px;
	}
}

@media (max-width: 1500px) {
	.h-xxl {
		font-size: 46px;
	}
	.h-xl {
		font-size: 38px;
	}
	.h-l {
		font-size: 34px;
	}
	.text-lg {
		font-size: 22px;
	}
	.text-sm {
		font-size: 20px;
	}
}

@media (max-width: 1400px) {
	.h-xxl {
		font-size: 44px;
	}
	.h-xl {
		font-size: 36px;
	}
	.h-l {
		font-size: 32px;
	}
	.text-lg {
		font-size: 20px;
	}
	.text-sm {
		font-size: 18px;
	}
}

@media (max-width: 1200px) {
	.h-xxl {
		font-size: 40px;
	}
	.h-xl {
		font-size: 32px;
	}
	.h-l {
		font-size: 28px;
	}
}

@media (max-width: 1000px) {
	.h-xxl {
		font-size: 30px;
	}
	.h-xl {
		padding-bottom: 20px;
		font-size: 20px;
	}
	.h-l {
		font-size: 18px;
	}
	.text-lg {
		font-size: 18px;
	}
	.text-sm {
		font-size: 16px;
	}
	.text-section {
		color: #6d6364;
		font-size: 17px;
		padding-bottom: 34px;
	}
}

@media (max-width: 800px) {
	.h-xxl {
		font-size: 28px;
	}
	.text-lg {
		font-size: 16px;
	}
}
